@keyframes fadeIn{
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hover{
	from {
		-webkit-transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-10px);
	}
}

@keyframes loadAdvance{
	from{
		width: 0%;
	}
	to{
		width: 90%;
	}
}

@keyframes loaded{
	from{
	}
	to{
		width: 100%;
	}
}