.btn{
	padding: .8em 2em;
	font-size: .9em;
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	margin: 0 .2em;
	border: none;
    border-radius: 4px;
	color: #fff;
	background: url(/assets/dist/gfx/wild-sea.jpg) fixed 0 80% #436068;
}
.btn:hover,
.btn:focus{
	color: #fff;
	background: $highlight;
	cursor: pointer;
	outline: none;
}

ul.display-list{
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		overflow: hidden;
		border-top: 1px solid #ddd;
		padding-top: 1em;
		margin-bottom: 1em;
	}
}