body {
	background: #273036;
	color: #ccc;
	padding: 0;
	background-image: url(@body-image);
	background-position: center 0;

	@media @respond-medium {
		padding-top: (@base-height + @logo-height-medium);
	}

	@media @respond-large {
		padding-top: (@base-height + @logo-height-large);
	}
}

/*
	Layout
*/
.row {
	max-width: 980px;
	margin: auto;
	padding: @base-height 1em;
	overflow: hidden;
}

.mast{
	background: #273036;
	background-image: url(@body-image);
	background-position: 80% 0;
	z-index: 100;
	background-position: center 0;

	@media @respond-medium {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.logo {
		display: block;
		text-align: center;
		overflow: hidden;
		height: 2.5em;
		margin: 1em 0;

		@media @respond-medium {
			height: 100%;
			float: left;
			margin: 0;
		}

		img, svg{
			width: auto;
			height: 100%;
			float: left;
		}
	}

	a{
		color: #fff;
		font-weight: lighter;
	
		&:hover{
			color: @link-hover;
		}
	}

	.row {
		padding: (@base-height) 1em;
		height: auto;

		@media @respond-small {
			//height: @logo-height-small;
		}

		@media @respond-medium {
			transition: all .4s;
			height: @logo-height-medium;
		}

		@media @respond-large {
			height: @logo-height-large;
		}

		h1 {
			float: left;
			margin: 0em 0;
			font-weight: lighter;
		}
	}
}

.main{
	background: #eee;
	color: #444;
	h1{
		text-align: center;
	}
}

.content img{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/*
	Footer
*/
.foot{
	padding-top: @base-height/2;
	font-size: .9em;
	text-align: center;
	
	a{
		color: #fff;
		display: inline-block;
		padding: .7em;
	}

	.copyright{
		display: block;
		margin-top: @base-height;
		font-style: italic;
	}
}

/*
	Home
*/
.intro{
	color: #fff;
	text-align: center;
	position: relative;
	transition: min-height 1s, padding-top 1s;

	@media @respond-medium {
		background-image: url(@homepage-image);
		background-position: center 40%;
		background-size: cover;
		color: #fff;

		h1, p{
			animation-name: fadeIn;
			animation-timing-function: cubic-bezier(0.640, -0.370, 0.130, 1.620);
			animation-fill-mode: backwards;
		}

		h1{
			animation-duration: 1.5s;
			animation-delay: .5s;
			margin-top: 0;
		}

		p{
			animation-duration: 1.2s;
			animation-delay: .8s;	
		}
	}
	
	@media @respond-medium and (min-height: 500px) {
		min-height: 240px;
		padding-top: 80px;
	}
	@media @respond-medium and (min-height: 800px) {
		min-height: 380px;
		padding-top: 170px;
	}
	@media @respond-medium and (min-height: 1200px) {
		min-height: 450px;
		padding-top: 210px;
	}
	
	.row {
		@media @respond-tiny {
			padding-top: 0;
		}
	}
}

/*
	Home
*/
.template-home{
	.row > h2{
		text-align: center;
	}
}

/*
	Projects
*/
.projects{
	overflow: hidden;
	margin: auto;
	text-align: center;
	padding: 0 3px 0; // Prevent hiding box-shadow on small screens
}

.project {
	box-sizing: border-box;
	height: 11em;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
	position: relative;
	border: 4px solid #fff;
	text-align: center;
	background: #2C3339;
	color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	transition: background .2s;
	overflow: hidden;

	@media @respond-medium {
		width: 48%;
		margin: 1em 2% 0 0;
		float: left;
	}

	@media @respond-large {
		width: 30%;
		margin: 1em 1.5% 1em;
	}

  a {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: color .3s;
  }
  
  .project-title {
  	font-size: 1.2em;
    color: #F54121;
    margin: .5em 0 0;

    @media @respond-medium {
    	transform: translate(0, 12px);
    	transition: transform .3s ease-out;
	}
  }

  .project-details {
  	padding: 0 1em 1em;
  }
  
  
  .project-summary {
  	margin: .5em 0 .6em;
    font-size: .9em;
    line-height: 1.3;

    @media @respond-medium {
	    transform: translate(0, 20px);
	    opacity: 0;
	    transition: opacity .2s, transform .35s;
	    transition-delay: 0;
	}
  }
  
  .project-icon {
  	padding-top: 1em;
  }
  
  svg {
    width: 40px;
    height: 40px;

    @media @respond-medium {
		width: 50px;
		height: 50px;
    }
    
    display: block;
    margin: .5em auto 0;
    transition: all .4s;
    transform-origin: 50% 0;
    fill: #fff;
  }
  

  &:hover {
    background: #eee;

    @media @respond-medium {
	    
	    h2 {
	      transform: translate(0, -10px);
	    }
	    
	    .project-summary {
	      color: #333;
	      opacity: 1;
	      transform: translate(0, -10px);
	      transition-delay: .1s;
	      transition-timing-function: cubic-bezier(0.640, -0.37, 0.13, 1.6);
	    }
    }

    svg {
      transform: scale(0.7);
      fill: #333;
    }
  }
}

/*
	About
*/
.page-about{
	ul{
		overflow: hidden;
		margin: 0 0 @base-height;
		padding: 0;

		li{
			list-style: none;
			padding: .5em 0;
			@media @respond-small {
				width: 50%;
				float: left;
				border-bottom: 1px dashed #ccc;
			}
		}

		li:before{
			content: '-';
			margin-right: 1em;
			color: #999;
		} 
	}

	.main.experience{
		background: #303A42;
		color: #fff;
		 li{
		 	border-color: #04263A;
		 }
	}

	.main.site{
		li{
			border: none;
			width: 100%;
			float: none;
			padding: 0 0 .5em;
		}
	}
}

/*
	Contact
*/
.page-contact{
	.main{
		text-align: center;
	}
}

/*
	Music
*/
.music-tracks{
	li{
		@media @respond-medium{
			float: left;
			width: 48%;
			padding-right: 2%;
		}
	}
	a{
		text-decoration: none;
	}
}

.track-list{
	ul{
		overflow: hidden;
	}
	li{
		padding-left: 140px;
		position: relative;
		height: 128px;
		overflow: auto;
		box-sizing: border-box;
		&:hover{
			.youtube{
				display: block;
			}
		}

		@media @respond-medium{
			float: left;
			width: 50%;
			padding-right: 2%;
		}
	}

	.nowplaying-true{
		color: @highlight;
	}

	.album-cover{
		position: absolute;
		left: 0;
	}
	
	
	.trackname,
	.trackartist{
		display: block;
	}

	.trackartist{
		font-size: .9em;
	}
	
	.icon{
		display: inline-block;
		margin-top: .5em;
		fill: #333;
		transition: fill .2s, opacity .2s;
		
		&:hover,
		&:focus{
			fill: #d00c03;
		}
	}

	@media @respond-tiny{
		li{
			padding-left: 90px;
			min-height: 90px;
		}
		img{
			width: 80px;
			height: auto;
		}
	}

	@media @respond-large{
		.icon{ opacity: 0; }
		li:hover .icon{ opacity: 1; }
	}
}
.load-icon{
	width: 100%;
	height: 3px;

	&:after{
		content: '';
		display: block;
		height: 3px;
		width: 0%;
		opacity: 0;
		background: #f54121;
		transition: width 0s;
	}

	&.loading:after{
		opacity: 1;
		transition: width 1s;
		animation: loadAdvance 3s;
		width: 90%;
	}

	&.loaded:after{
		width: 100%;
		opacity: 0;
		transition: all .4s;
	}
}

/*
	Words
*/
.subpages {
	
	.subpage {
		overflow: hidden;
	}

	.subpage + .subpage{
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px dotted #999;
	}

	h2 {
		margin-bottom: .2em;
	}

	.date {
		display: block;
		font-style: italic;
		margin-bottom: 1em;
	}

	@media @respond-large {
		.date {
			float: left;
			width: 15%;
			padding: .5em 0 0;
		}

		h2,
		.summary {
			float: right;
			width: 85%;
		}
	}
}

/*
	Sitemap
*/
ul.sitemap{
	border-top: 1px solid #ddd;
	list-style: none;
	padding: @base-height 0;

	li{
		margin: 0 0 1em;
	}
	a{
		text-decoration: none;
	}
	.depth-2,
	.depth-3,
	.depth-4{
		font-size: .9em;
		padding-left: 1em;

		a{
			color: #999;
		}
	}
	.depth-3{
		margin-left: 2em;
	}
	.depth-4{
		margin-left: 3em;
	}
}

/*
	Search
*/
.page-search{
	.display-list{
		.result-title{
			font-size: 1.1em;
			text-decoration: none;
			margin: 0 0 1em;
		}
		small{
			display: block;
			color: invert(@highlight);
			margin: 0;
		}
	}
}

.video-container{
	padding-top: 56.22%;
	position: relative;
	margin-bottom: @base-height;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*
	Error page
*/
.page-error{
	.content{
		text-align: center;
	}
}

blockquote{
	font-size: 1.2em;
	font-style: italic;
	padding: 0;
	margin: 0 10%;
	padding: .5em;
	position: relative;

	p:before{
		content: '\201c';
		line-height: .5;
		font-size: 3em;
		position: absolute;
		left: -.5em;
		font-family: serif;
	}
}

figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 0 auto @base-height;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.appreciate {
	text-align: center;
	padding-top: 1em;

	form {
		margin: 0 auto;
	}

	.btn--appreciate {
		white-space: nowrap;
		text-align: center;
		color: #05BD70;
		border-color: #05BD70;
		background-color: transparent;
		transition: 
			border-radius .5s .1s, 
			background-color .5s, 
			border-color .5s,
			color .5s,
			padding .5s cubic-bezier(.37, -1, .6, 1);
		
		&:before {
			margin-left: -.4em;
			margin-right: .7em;
			transition: all .2s;
			color: #FF6154;
		}

		&:after {
			position: absolute;
			content: '\ea10';
			left: 0;
			width: 100%;
			opacity: 0;
			transition: opacity .2s;
		}

		&:hover {
			background: none;
			color: #05BD70;

			&:before {
				transform: scale(1.5);
			}
		}
		
		&.appreciated {
			border-radius: 30px;
			padding: .7em 0 .8em;
			background-color: #05BD70;
			color: #05BD70;
			
			&:before {
				font-size: 0;
			}

			&:after {
				transition-delay: .5s;
				opacity: 1;
				color: #fff;
			}
		}
	}

	.btn--appreciated {
		color: #777;
		border-color: #777;
		background-color: transparent;

		&:before {
			margin-left: -.4em;
			margin-right: .7em;
			transition: all .2s;
			color: #05BD70;
		}

		&:hover {
			background: none;
			color: inherit;
		}
	}
}