body {
	color: #ccc;
	padding: 0;
	background: @primary-texture;
	background-position: center 0;
	background-attachment: fixed;
	font-family: @base-font-family;

	@media @respond-medium {
		padding-top: (@base-height + @logo-height-medium);
	}

	@media @respond-large {
		padding-top: (@base-height + @logo-height-large);
	}
}

/*
	Layout
*/
.row {
	max-width: 980px;
	margin: auto;
	padding: @base-height 1em;
	overflow: hidden;
}

.mast{
	background: @primary-texture;
	background-position: 80% 0;
	z-index: 100;
	background-position: center 0;

	@media @respond-medium {
		position: fixed;
		top: 0;
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, .14);
		opacity: 0;
		transition: opacity .2s;
	}

	.logo {
		display: block;
		text-align: center;
		overflow: hidden;
		height: 2.5em;
		margin: 1em 0;

		@media @respond-medium {
			height: 100%;
			float: left;
			margin: 0;
		}

		img, svg{
			width: auto;
			height: 100%;
		}
	}

	a{
		color: #fff;
		font-weight: lighter;
	
		&:hover{
			color: @link-hover;
		}
	}

	.row {
		padding: (@base-height) 1em;
		height: auto;

		@media @respond-medium {
			transition: all .4s;
			height: @logo-height-medium;
		}

		@media @respond-large {
			height: @logo-height-large;
		}

		h1 {
			float: left;
			margin: 0em 0;
			font-weight: lighter;
		}
	}
}

.messages-container {
	background: #eee;
	color: #444;
	
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		padding: .7em 2em;
		border-radius: 3px;
		box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);

		& + li {
			margin-top: 1em;
		}
	}
	
	.message-plain {
		background-color: #444;
		border-color: #000;
		color: #fff;
	}

	.message-success {
		background-color: #2D663F;
		color: #fff;
	}

	.message-error {
		background-color: #83230C;
		color: #fff;
	}
}

.main{
	background: @tertiary-texture;
	background-attachment: fixed;
	color: #444;
	h1{
		text-align: center;
	}
}

.content img{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/*
	Footer
*/
.foot{
	padding-top: @base-height/2;
	font-size: .9em;
	text-align: center;
	
	a{
		color: #fff;
		display: inline-block;
		padding: .7em;
	}

	.copyright{
		display: block;
		margin-top: @base-height;
		font-style: italic;
	}
}

/*
	Home
*/
.intro{
	color: #fff;
	text-align: center;
	position: relative;

	@media @respond-medium {
		color: #fff;

		h1, p{
			animation-name: fadeIn;
			animation-timing-function: cubic-bezier(0.640, -0.370, 0.130, 1.620);
			animation-fill-mode: backwards;
		}

		h1{
			animation-duration: 1.5s;
		}

		p{
			animation-duration: 1.2s;
			animation-delay: .2s;	
		}
	}
	
	.row {
		padding: 2em 1em 3em;
		transition: padding .5s;

		@media @respond-medium and (min-height: 500px) {
			padding: 4em 0 5em;
		}
		@media @respond-medium and (min-height: 800px) {
			padding: 7em 0 9em;
		}
	}
}

.template-home{
	.row > h2{
		text-align: center;
	}
}


/*
	About
*/
.page-about{
	
	ul {
		padding: 0;
		margin: 0 0 @base-height;
		list-style: none;
		-webkit-column-gap: 3em;
		column-gap: 3em;
		-webkit-column-rule: 1px dotted #999;
		column-rule: 1px dotted #999;
		
		@media @respond-medium {
			-webkit-column-count: 2;
			column-count: 2;
		}

		@media @respond-large {
			-webkit-column-count: 3;
			column-count: 3;
		}
		
		li:before{
			content: '-';
			margin-right: 1em;
			color: @color-primary;
		}
	}
}

/*
	Contact
*/
.page-contact{
	.main{
		text-align: center;
	}
}

/*
	Music
*/
.music-tracks{
	li{
		@media @respond-medium{
			float: left;
			width: 48%;
			padding-right: 2%;
		}
	}
	a{
		text-decoration: none;
	}
}

.track-list{
	ul{
		overflow: hidden;
	}
	li{
		padding-left: 140px;
		position: relative;
		height: 128px;
		overflow: auto;
		box-sizing: border-box;
		&:hover{
			.youtube{
				display: block;
			}
		}

		@media @respond-medium{
			float: left;
			width: 50%;
			padding-right: 2%;
		}
	}

	.nowplaying-true{
		color: @color-secondary;
	}

	.album-cover{
		position: absolute;
		left: 0;
	}
	
	
	.trackname,
	.trackartist{
		display: block;
	}

	.trackartist{
		font-size: .9em;
	}
	
	.icon{
		display: inline-block;
		margin-top: .5em;
		fill: #333;
		transition: fill .2s, opacity .2s;
		
		&:hover,
		&:focus{
			fill: #d00c03;
		}
	}

	@media @respond-tiny{
		li{
			padding-left: 90px;
			min-height: 90px;
		}
		img{
			width: 80px;
			height: auto;
		}
	}

	@media @respond-large{
		.icon{ opacity: 0; }
		li:hover .icon{ opacity: 1; }
	}
}
.load-icon{
	width: 100%;
	height: 3px;

	&:after{
		content: '';
		display: block;
		height: 3px;
		width: 0%;
		opacity: 0;
		background: #f54121;
		transition: width 0s;
	}

	&.loading:after{
		opacity: 1;
		transition: width 1s;
		animation: loadAdvance 3s;
		width: 90%;
	}

	&.loaded:after{
		width: 100%;
		opacity: 0;
		transition: all .4s;
	}
}

/*
	Words
*/
.subpages {
	margin-bottom: 1em;
	border-bottom: 1px dotted #999;

	.subpage {
		overflow: hidden;
	}

	.subpage {
		padding: 1em 0 1.5em;
		border-top: 1px dotted #999;
	}

	h2 {
		margin-bottom: .2em;
	}

	.date {
		display: block;
		font-style: italic;
		margin-bottom: 1em;
		font-family: @headings-font-family;
	}

	@media @respond-large {
		.date {
			float: right;
			width: 10%;
			padding: .5em 0 0;
			text-align: center;

			span {
				display: block;
			}
		}

		.date-day {
			font-size: 2em;
			line-height: 1;
			color: @color-primary;
		}

		.date-month {
			font-size: 1.1em;
			letter-spacing: .1em;
		}

		.date-year {
			font-size: .8em;
		}

		h2,
		.summary {
			float: left;
			width: 90%;
		}
	}
}

/*
	Sitemap
*/
ul.sitemap{
	border-top: 1px solid #ddd;
	list-style: none;
	padding: @base-height 0;

	li{
		margin: 0 0 1em;
	}
	a{
		text-decoration: none;
	}
	.depth-2,
	.depth-3,
	.depth-4{
		font-size: .9em;
		padding-left: 1em;

		a{
			color: #999;
		}
	}
	.depth-3{
		margin-left: 2em;
	}
	.depth-4{
		margin-left: 3em;
	}
}

/*
	Search
*/
.page-search{
	.display-list{
		.result-title{
			font-size: 1.1em;
			text-decoration: none;
			margin: 0 0 1em;
		}
		small{
			display: block;
			color: #999;
			margin: 0;
		}
	}
}

.video-container{
	padding-top: 56.22%;
	position: relative;
	margin-bottom: @base-height;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*
	Error page
*/
.page-error{
	.content{
		text-align: center;
	}
}

blockquote{
	font-size: 1.2em;
	font-style: italic;
	padding: 0;
	margin: 0 10%;
	padding: .5em;
	position: relative;

	p:before{
		content: '\201c';
		line-height: .5;
		font-size: 3em;
		position: absolute;
		left: -.5em;
		font-family: serif;
	}
}

figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 0 auto @base-height;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.appreciate {
	text-align: center;
	padding-top: 1em;

	form {
		margin: 0 auto;
	}

	.btn--appreciate {
		white-space: nowrap;
		text-align: center;
		color: #05BD70;
		border-color: #05BD70;
		background-color: transparent;
		transition: 
			border-radius .5s .1s, 
			background-color .5s, 
			border-color .5s,
			color .5s,
			padding .5s cubic-bezier(.37, -1, .6, 1);
		
		&:before {
			margin-left: -.4em;
			margin-right: .7em;
			transition: all .2s;
			color: #FF6154;
		}

		&:after {
			position: absolute;
			content: '\ea10';
			left: 0;
			width: 100%;
			opacity: 0;
			transition: opacity .2s;
		}

		&:hover {
			background: none;
			color: #05BD70;

			&:before {
				transform: scale(1.5);
			}
		}
		
		&.appreciated {
			border-radius: 30px;
			padding: .7em 0 .8em;
			background-color: #05BD70;
			color: #05BD70;
			
			&:before {
				font-size: 0;
			}

			&:after {
				transition-delay: .5s;
				opacity: 1;
				color: #fff;
			}
		}
	}

	.btn--appreciated {
		color: #777;
		border-color: #777;
		background-color: transparent;

		&:before {
			margin-left: -.4em;
			margin-right: .7em;
			transition: all .2s;
			color: #05BD70;
		}

		&:hover {
			background: none;
			color: inherit;
		}
	}
}