/*
	Navigation
*/
nav a {
	text-decoration: none;
}

.nav1 {
	clear:both;
	text-align: center;
	width: 100%;
	padding: 0;
	font-family: @headings-font-family;
	
	@media @respond-medium {
		font-size: 1.1em;
		float: right;
		clear: none;
		width: auto;
		display: block;
		padding: 0;
	}

	a{
		padding: 0 .4em;
		transition: color .2s, line-height .2s;
		line-height: @logo-height-small;

		@media @respond-medium {
			margin: 0 .5em;
			padding: 0 .5em;
			line-height: @logo-height-medium;
		}

		@media @respond-large {
			line-height: @logo-height-large;
		}

		&.active{
			color: @link-hover;
		}
	}
}

.pagination{
	text-align: center;
	margin-bottom: @base-height;

	a:extend(.btn all){
		span {
			overflow: hidden;
			position: absolute;
			left: -999px;
		}	
	}
}