.off-top{

	.mast{
		transform: translateZ(0);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

		.row{
			padding: (@base-height/2) 1em;
			height: @logo-height-small;
		}
	}

	.nav1 a{
		line-height: @logo-height-small;
	}
}