@keyframes intro {
	0% {
		opacity: 0;
		transform: translateY(1em);
	}
	40% {
		opacity: 0;
		transform: translateY(1em);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes appreciate-text {
  0% {
  	opacity: 0;
    transform: translateX(-50%);
  }
  20% {
  	opacity: 1;
  	transform: translateX(-50%) translateY(-60px);
  }
  80% {
  	opacity: 1;
  	transform: translateX(-50%) translateY(-60px);
  }
  100% {
  	opacity: 0;
    transform: translateX(-50%) translateY(-60px);
  }
}

@keyframes out-next {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2em);
  }
}

@keyframes in-next {
  0% {
    opacity: 0;
    transform: translateX(4em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes out-prev {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2em);
  }
}

@keyframes in-prev {
  0% {
    opacity: 0;
    transform: translateX(-4em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
