@keyframes intro {
	0% {
		opacity: 0;
		transform: translateY(1em);
	}
	40% {
		opacity: 0;
		transform: translateY(1em);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes appreciate-text {
  0% {
  	opacity: 0;
    transform: translateX(-50%);
  }
  20% {
  	opacity: 1;
  	transform: translateX(-50%) translateY(-60px);
  }
  80% {
  	opacity: 1;
  	transform: translateX(-50%) translateY(-60px);
  }
  100% {
  	opacity: 0;
    transform: translateX(-50%) translateY(-60px);
  }
}
