.pagination {
  display: block;
  text-align: center;
  margin-top: @space;
  padding-top: @space-sm;
  padding-bottom: @space-lg;
  border-top: 1px dotted @color-neutral-lighter;
  position: relative;

  @media @mq-md {
    padding-bottom: 0;
  }

  .pagination-page {
    display: inline-block;
    margin: 0 3px;
    border-radius: 3px;
    padding: 4px 10px;
    text-decoration: none;
    background-color: @color-primary-light;
    color: @color-white;
    min-width: 1em;

    &:last-child {
      margin: 0;
    }

    &.active,
    &:active,
    &:hover,
    &:focus {
      background-color: @color-primary-lighter;
      color: @color-primary-dark;
    }
  }


  .pagination-prev,
  .pagination-next {
    background-color: transparent;
    color: @color-primary;
    padding: 4px 10px;
    text-decoration: none;
    position: absolute;
    top: 3em;

    @media @mq-md {
      position: static;
    }

    &:hover {
      border-color: transparent;

      &:not([disabled]):not(span) {
        color: @color-primary-lighter;
      }
    }
  }

  .pagination-prev {
    left: 15%;

    &:before {
      content: '< ';
    }
  }

  .pagination-next {
    right: 15%;

    &:after {
      content: ' >';
    }
  }

  .pagination-range {
    padding: 0;
    background: none;
    color: @color-neutral-dark;
  }
}
