.section {
  clear: both;
  background-color: @color-white;
  color: @color-primary-darker;

  &-inner {
    padding: @space-xl @space;
    max-width: @mq-xl-width;
    margin: 0 auto;

    &:before,
	  &:after {
	    display: table;
	    content: '';
	    clear: both;
	  }
  }

  &-title {
    margin-bottom: @space-xl;
    text-align: center;
  }

  &--tall &-inner {
    padding-top: @space-lg;
    padding-bottom: @space-lg;
  }

  &--fullwidth &-inner {
  	padding-left: 0;
  	padding-right: 0;
  }

  &--nopad &-inner {
  	padding: 0;
  }
}

// Header
.section--header {
  &:extend(.u-group all);
  background-color: @color-primary-dark;
  color: @color-white;
  text-align: center;

  .section-inner {
    padding: @space;
  }

  a {
    color: inherit;

    &:hover, &:focus {
      color: @color-secondary-lighter;
    }
  }

  .logo {
    display: inline-block;
    max-width: 10em;
  }
}

.section--main {
  h1 {
    margin-bottom: @space-xl;
  }
}

.section--footer {
  background-color: @color-neutral-darkest;
  color: @color-neutral;
  text-align: center;
  font-size: .9em;

  .section-inner {
    padding-top: @space-lg;
  }

  a {
    color: @color-neutral-light;

    &:hover {
      color: @color-white;
    }
  }
}

.section--intro {
  background-color: @color-primary;
  background-image: url(/assets/images/knitting.png), url(/assets/images/blurred.svg);
  background-size: 13px 11px, cover;
  background-repeat: repeat, no-repeat;
  color: @color-white;
  text-align: center;
  padding: @space;

  @media @mq-md {
    padding: @space-lg @space;
  }

  @media @mq-lg {
    padding: @space-xxl @space;
  }

  .section-inner {
    max-width: @mq-sm-width;
    padding-top: @space-lg;
    padding-bottom: @space-lg;
    background-color: fade(@color-primary-dark, 50%);
    transition: max-width 1s;
    animation: intro 1.5s;

    @media @mq-lg {
      max-width: @mq-md-width;
    }
  }

  h1 {
    color: inherit;
    font-size: 2.6em;
    display: inline-block;
    padding: 0 0 @space-sm;
    border-bottom: 4px double @color-white;

    @media @mq-md {
      font-size: 3em;
      padding: 0 @space-sm @space;
      margin-bottom: @space * 1.5;
    }
  }
}

.section--projects {
  .section-title {
    a {
      text-decoration: none;
    }
  }

  .page-projects & {
    .section-inner {
      padding-top: 0;
    }
  }
}

.section--words {
  background-color: @color-neutral-lightest;
  color: @color-secondary-dark;

  a {
    color: @color-secondary;
    text-decoration: none;

    &:hover {
      color: @color-secondary-darker;
    }
  }

  .post-date {
    color: @color-secondary;
  }
}

.section--experience {
  background-color: @color-secondary-light;
  background-image: url(/assets/images/knitting.png);
  color: @color-white;

  .section-inner {
    max-width: @mq-lg-width;
  }

  h2, h3, h4 {
    color: @color-secondary-darker;
    text-shadow: 0 1px 3px fade(@color-secondary-darker, 20%);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0 @space @space-sm 0;

    &:before {
      content: '\2605';
      color: @color-secondary-dark;
      margin-right: @space-xs;
    }
  }
}

.section--contact {
  background-color: @color-primary-light;
  color: @color-white;
  text-align: center;

  form {
    text-align: left;
  }

  h1 {
    color: @color-primary-dark;
  }
  h2, h3, a {
    color: inherit;
  }
}
